/* Import Flowbite's CSS */
@import "flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}
.sidebar {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}



